<html>
<head>
  <title>Lunch Time App</title>
</head>
<body>
  <h1>Lunch Time </h1>
  <h2> Let us know who you are </h2>
  <form action="/successId" method="POST">
      {% csrf_token %}
      {% if users %}
      <select name="userList">
        {% for user in users %}
          <option value="{{user.id}}">{{ user.first_name|title }}  {{ user.last_name|title }}</option>
        {% endfor %}
      </select>
      <button type="submit">Submit</button>
     {% endif %}
  </form>
    
  <form action='/registration' method='POST'>
    {% csrf_token %}
    <h4> First time? Please add yourself </h4>
    First Name: <input type="text" name='first_name'><br>
    Last Name: <input type="text" name='last_name'><br><br>
    <input type="submit" value='Submit'>
  </form>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
  </li>
    {% endfor %}
  </ul>
  {% endif %}

</body>
</html>
