<html>
<head>
  <title>Lunch Time App</title>
</head>
<body>
  <h1>Lunch Time </h1>
  <form action='/registration' method='POST'>
    {% csrf_token %}
    <h3> Let us know who you are </h3>
    First Name: <input type="text" name='first_name'><br>
    Last Name: <input type="text" name='last_name'><br><br>
    <input type="submit" value='Submit'>
  </form>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}
  </li>
    {% endfor %}
  </ul>
  {% endif %}

</body>
</html>
