<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>Lunch time!</h2>
      <p>
        Your lunch group has: 
      </p>
        <p>{{request.session.first_name|title}}  {{request.session.last_name|title }} (you)</p>
        {% if lunch_friends %}
            {% for lunch_friend in lunch_friends %}
            <p>{{ lunch_friend.first_name|title }}  {{ lunch_friend.last_name|title }}</p>
            {% endfor %}
        {% endif %}

        <p>
          <a href='/getCoffee'>
            <input type="submit" value='Coffee'>
          </a>&nbsp;
          <a href='/getLunch'>
            <input type="submit" value='Lunch'>
          </a>
        </p>
      
        <form action='/resetUser' method='POST'>
        {% csrf_token %}
        <input type="submit" value='Reset User'>
      </form><br>
  </body>
</html>
