<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Hello {{ request.session.first_name| title }}!!</p>
      <a href='/getCoffee'>
        <input type="submit" value='Coffee'>
      </a><br>
     <!-- <p> {{request.session.message}} </p> -->
      <a href='/getLunch'>
        <input type="submit" value='Lunch'>
      </a><br><br>

      <form action='/resetUser' method='POST'>
        {% csrf_token %}
        <input type="submit" value='Reset User'>
      </form><br>
  </body>
</html>
